build/**
doc/*
src/*/doc/*
results/*
__pycache__/*


build/.wafpickle*
openflow/build/**
openflow/doc/*

*.xml
*.tr
*.pcap
*.flowmon
*~
.*
*.pyc

!.gitignore
!src/tap-bridge/**
!utils/**
!workloads/workload_transform.py
